
/* Globals */

:root {
    --sidebar-width: 200px;
    --page-padding: 10px;
    --content-max-width: 800px;
    --menu-bar-height: 70px;
    --bg: #0D1017;
    --fg: #BFBDB6;

    --sidebar-bg: #1c1e22;
    --sidebar-fg: #CCCAC2;
    --sidebar-non-existant: #999893;
    --sidebar-active: #D95757;
    --sidebar-spacer: #222;

    --scrollbar: #2b2b2b;

    --icons: #999;
    --icons-hover: #D95757;
    
    --links: #D95757;

    --inline-code-color: #0D1017;

    --theme-popup-bg: #000000;
    --theme-popup-border: #1c1e22;
    --theme-hover: #1c1e22;

    --quote-bg: #0D1017;
    --quote-border: #D95757;

    --searchbar-border-color: #D95757;
    --searchbar-bg: #1c1e22;
    --searchbar-fg: #BFBDB6;
    --searchbar-shadow-color: #000;
    --searchresults-header-fg: #CCCAC2;
    --searchresults-border-color: #D95757;
    --searchresults-li-bg: #111316;
    --search-mark-bg: #111316;
}

/* Themes

.dark {
    --bg: #1c1e22;
    --fg: #CCCAC2;

    --sidebar-bg: #0D1017;
    --sidebar-fg: #BFBDB6;
    --sidebar-non-existant: #999893;
    --sidebar-active: #D95757;
    --sidebar-spacer: #222;

    --scrollbar: #2b2b2b;

    --icons: #999;
    --icons-hover: #D95757;
    
    --links: #D95757;

    --inline-code-color: #0D1017;

    --theme-popup-bg: #000000;
    --theme-popup-border: #1c1e22;
    --theme-hover: #1c1e22;

    --quote-bg: #0D1017;
    --quote-border: #D95757;

    --searchbar-border-color: #D95757;
    --searchbar-bg: #0D1017;
    --searchbar-fg: #BFBDB6;
    --searchbar-shadow-color: #000;
    --searchresults-header-fg: #CCCAC2;
    --searchresults-border-color: #D95757;
    --searchresults-li-bg: #0D1017;
    --search-mark-bg: #0D1017;
} */

/* .light {
    --bg: #2b2b2b;
    --fg: #e3e3e3;

    --sidebar-bg: #1b1b1b;
    --sidebar-fg: #e4e4e4;
    --sidebar-non-existant: #949494;
    --sidebar-active: #d04255;
    --sidebar-spacer: #222;

    --scrollbar: #2b2b2b;

    --icons: #999;
    --icons-hover: #d04255;

    --links: #d04255;

    --inline-code-color: #301900;

    --theme-popup-bg: #000000;
    --theme-popup-border: #2b2b2b;
    --theme-hover: #2b2b2b;

    --quote-bg: #2b2b2b;
    --quote-border: #2b2b2b;

    --table-border-color: hsl(0, 0%, 95%);
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: #d04255;
    --searchbar-bg: #2b2b2b;
    --searchbar-fg: #e4e4e4;
    --searchbar-shadow-color: #000;
    --searchresults-header-fg: #e4e4e4;
    --searchresults-border-color: #2b2b2b;
    --searchresults-li-bg: #2b2b2b;
    --search-mark-bg: #2b2b2b;
} */